.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  color: white;
  width: 100%;
}

.mainContent{
  width: 100%;
}

.wrapper{
  text-align: center;
  padding-top:45px;
}

.sign_in{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  margin: auto;
  text-align: center;
}

.login_button{
  background: #282c34;
  width: 100%;
  align-items: center;
  min-width: 200px;
  height: 40px;
  border-radius: 21px;
  border-color: transparent;
  color: white;
}

.login_button:hover, .general_button:hover, .user_information table tr:hover
, .fav_stock_summary table tr:hover, .users_table tr:hover{
  background-color: lightgray;
  color: black;
}

.logoutButton {
  position: absolute !important;
  bottom: 0;
  width: 100%;
}

.profile .profile_img{
  border-radius: 50%;
  height: 200px;
  margin-bottom: 10px;
}

.general_button{
  background: inherit;
  border-color: transparent;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.profile .user_information{
  display: table;
  margin: 0 auto;
}

.profile .user_information table{
  border-left: 5px solid #db3d44;
  border-collapse: collapse;
  width: 100%;
  margin-left: 10px;
}

.profile .user_information table td{
  padding: 10px 30px;
  width: 100%;
  text-align: left;
}

.profile .fav_stock_summary{
  margin: auto;
  width: 70%;
  /* background-color: black; */
}

.profile .fav_stock_summary table{
  border-left: 5px solid #db3d44;
  border-collapse: collapse;
  width: 100%;
  margin-left: 10px;
  overflow:auto;  
}

.profile .fav_stock_summary table td{
  padding: 15px 30px;
}

.profile fav_stock_summary i{
  padding-left: 5px;
}

.profile .link, .profile .link:visited{
  color: inherit;
}

.users{
  display: table;
  margin: 0 auto;
}

.users_table{
  display: table;
  border-left: 5px solid #db3d44;
  border-collapse: collapse;
  margin-left: 10px;
  overflow:auto;  
  margin-left: 10px;
}

.users_table td{
  padding: 15px 50px;
}